* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-color: rgb(58, 58, 58);
    color: antiquewhite;

}
.nav {
    display: flex;
    margin: 0;
    background-color: rgb(75, 0, 0);
    width: 100%;
    padding: 1rem;
    height: 4rem;
    text-decoration: none;
}
.nav a {
    text-decoration: none;
    color: antiquewhite;
}
img {
    width: 200px;
    height: 200px;
    padding: 5px;
    border-radius: 50%;
}
img:hover {
    box-shadow: 0 0 5px 5px rgba(130, 0, 0, 0.5);
}
li {
    margin: 3rem;
}
.container{
    display: flex;
    flex-direction: column;
    margin: 3rem;
}
.link--container ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 3.5rem;
}
.link--container a {
    display: flex;
    justify-content: center;
    color: whitesmoke;
}
.ingredients {
    display: flex;
    flex-direction: column;
}
